@-ms-viewport {
	width: device-width
}

html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar
}

*, *::before, *::after {
	box-sizing: inherit
}

body {
	font-size: 16px;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}
*:link,
*:visited,
*:hover,
*:focus,
*:active {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}
* {
	outline: none !important;
}
img {
	display: block;
}
p {
	margin: 0;
	margin-bottom: 1em;
}
.wrapper {
	overflow: hidden;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 920px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

body {
	font-family: 'Manrope';
	font-size: 16px;
	line-height: 150%;
	color: #000;
	background: #fff;
}

.header {
	padding: 17px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo img {
	width: 171px;
	height: auto;
	display: block;
}

.hero {
	padding-top: 153px;
	padding-bottom: 74px;
	color: #fff;
	background: #1d1d1d;
	position: relative;
	z-index: 1;
}
.hero::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	right: 0;
	bottom: -187px;
	background-image: url(../img/bg1.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: -1;
	pointer-events: none;
}
.hero__title {
	font-size: 60px;
	max-width: 1120px;
	margin: 0 auto;
	margin-bottom: 55px;
	line-height: 110%;
	text-align: center;
	font-weight: 700;
}
.hero__text {
	font-size: 20px;
	max-width: 948px;
	margin: 0 auto;
	line-height: 150%;
	font-weight: 500;
	text-align: center;
}
.hero__button {
	padding-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center; 
}
.btn {
	height: 60px;
	padding: 0 45px;
	font-size: 16px; 
	border: 2px solid #fff;
	border-radius: 10px;
	box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.35);
	background: #1d1d1d;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s;
	display: inline-flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	color: #fff;
	font-weight: 700;
}
.hero__companies {
	padding-top: 97px;
	gap: 20px;
	opacity: 0.7;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hero__companies img {
	max-width: 100%;
	margin: 0 auto;
	height: auto;
	display: block;
}

.about {
	padding: 100px 0;
}
.title {
	font-size: 40px;
	margin-bottom: 20px;
	margin-top: 0;
	line-height: 150%;
	text-transform: uppercase;
	font-weight: 700;
}
.etaps__text,
.structura__text,
.about__text {
	font-size: 20px;
	column-gap: 50px;
	columns: 2;
	line-height: 150%;
}
.etaps__text p,
.structura__text p,
.about__text p {
	break-inside: avoid;
}
.etaps__text strong,
.structura__text strong,
.about__text strong {
	font-weight: 600;
}
.about__image {
	margin: 40px 0;
}
.about__image img {
	width: 100%;
	height: auto;
	border-radius: 20px;
}
.about__grid {
	gap: 24px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.about__item {
	padding: 20px;
	font-size: 18px;
	line-height: 150%;
	border: 1px solid #1d1d1d;
	border-radius: 10px;
}
.title-small {
	font-size: 20px;
	margin-bottom: 22px;
	line-height: 130%;
	font-weight: 700;
}
.about__item p {
	margin: 0;
}

.benefits {
	padding-top: 104px;
	padding-bottom: 60px;
	background: #373736;
	color: #fff;
	position: relative;
	z-index: 1;
}
.benefits::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	right: 0;
	bottom: -43px;
	background-image: url(../img/bg2.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: -1;
	pointer-events: none;
}
.benefits .title {
	margin-bottom: 70px;
}
.benefits__grid {
	margin-bottom: 70px;
	gap: 60px 25px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.benefits__item {
	font-size: 20px;
	gap: 30px;
	line-height: 150%;
	display: flex;
	align-items: center;
}
.benefits__item::before {
	position: relative;
	display: block;
	content: " ";
	width: 75px;
	height: 75px;
	flex: none;
	background-image: url(../img/ic_benefit.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.benefits__item p {
	margin: 0;
}
.slider-marquee:not(.slick-initialized)>*:not(:first-child),
.slider-four:not(.slick-initialized)>*:not(:first-child) {
	display: none;
}
.slider-marquee .slick-track,
.slider-four .slick-track {
	display: flex !important;
}
.slider-marquee .slick-slide,
.slider-four .slick-slide {
	height: inherit !important;
}
.slider-marquee .slick-slide,
.slider-four .slick-slide {
	padding: 0 12px;
}
.slider-marquee .slick-list,
.slider-four .slick-list {
	margin: 0 -12px;
}
.slider-marquee .slick-track {
	align-items: center;
}
.benefits__image {
	height: 183px;
	border-radius: 10px;
	display: block;
}
.benefits__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.slider-four {
	padding-bottom: 35px;
}
.slick-dots {
	gap: 12px;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.slick-dots li {
	width: 8px;
	height: 8px;
	margin: 0;
	transition: all 0.3s;
}
.slick-dots li button {
	width: 8px;
	height: 8px;
	background: #fff;
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
	opacity: 0.5;
	display: block;
	font-size: 0;
	color: transparent;
}
.slick-dots li.slick-active button {
	opacity: 1;
}
.slick-dots li button::before {
	display: none;
}
.wow {
	visibility: hidden;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}


.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown
}

.audience {
	padding: 100px 0;
}
.audience__grid {
	gap: 24px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}
.audience__item {
	padding: 34px 19px;
	padding-right: 31px;
	border-radius: 10px;
	color: #fff;
	background: #1d1d1d;
}
.audience__item p {
	margin: 0;
}
.checklist__item-icon,
.audience__icon {
	width: 50px;
	height: 50px;
	margin-bottom: 30px;
	border: 1.67px solid #fff;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.checklist__item-icon img,
.audience__icon img {
	width: 30px;
	height: auto;
	max-height: 100%;
}
.audience__item:nth-child(1),
.audience__item:nth-child(2),
.audience__item:nth-child(3) {
	grid-column: span 2;
}
.audience__item:nth-child(4),
.audience__item:nth-child(5) {
	grid-column: span 3;
}
.audience__item .title-small {
	margin-bottom: 15px;
}
.audience .title {
	margin-bottom: 40px;
}

.structura {
	padding-top: 100px;
	padding-bottom: 88px;
	background-color: #373736;
	color: #fff;
	position: relative;
	z-index: 1;
	background-image: url(../img/bg1.webp);
	background-repeat: no-repeat;
	background-position: 50% 32%;
}
.structura .title {
	margin-bottom: 50px;
}
.structura__item {
	margin-bottom: 24px;
	padding: 14px 40px;
	gap: 30px;
	display: flex;
	align-items: center;
	background: #1d1d1d;
	border: 2px solid #fff;
	border-radius: 10px;
}
.structura__item-count {
	font-size: 69px;
	width: 53px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 150%;
	text-align: center;
	font-weight: 700;
}
.structura__item-title {
	font-size: 24px;
	padding-right: 20px;
	margin-right: auto;
	line-height: 150%;
	font-weight: 700;
}
.structura__item-date,
.structura__item-location {
	font-size: 20px;
	gap: 20px;
	line-height: 150%;
	font-weight: 600;
	flex: none;
	display: flex;
	align-items: center;
}
.structura__item-date {
	width: 22%;
}
.structura__item-date::before,
.structura__item-location::before {
	position: relative;
	display: block;
	content: " ";
	width: 24px;
	height: 24px;
	flex: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.structura__item-date::before {
	background-image: url(../img/ic_calendar.svg);
}
.structura__item-location::before {
	background-image: url(../img/ic_location.svg);
}
.structura_button {
	padding-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.structura__text {
	margin-bottom: 55px;
}

.requirements {
	padding: 100px 0;
	position: relative;
	z-index: 2;
}
.title-small--subtitle {
	max-width: 885px;
	margin-bottom: 40px;
	font-weight: 400;
}
.requirements__grid {
	gap: 24px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.requirements__item {
	padding: 28px 40px;
	border-radius: 10px;
	background: #373736;
	color: #fff;
}
.requirements__item:nth-child(1),
.requirements__item:nth-child(2) {
	grid-column: span 2;
}
.requirements__item:nth-child(3) {
	grid-column: span 4;
}
.requirements__item-head {
	margin-bottom: 28px;
	gap: 10px;
	display: flex;
	align-items: center;
}
.requirements__item-icon {
	width: 40px;
	height: 40px;
	border: 1.33px solid #fff;
	border-radius: 7px;
	background: #1d1d1d;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.requirements__item-icon img {
	width: 24px;
	height: auto;
}
.requirements__item-title {
	padding: 6px 20px;
	font-size: 20px;
	line-height: 130%;
	font-weight: 700;
	border: 1.33px solid #fff;
	border-radius: 7px;
	background: #1d1d1d;
}
.requirements__item ul {
	padding-left: 20px;
}
.requirements__item ul li::marker {
	font-size: 70%;
}
.requirements__item-grid {
	gap: 20px;
	display: grid;
	grid-template-columns: 0.55fr 1fr;
}
.requirements__item-descr {
	font-size: 14px;
	line-height: 150%;
	opacity: 0.6;
}
.requirements__item-info {
	padding: 33px 18px;
	width: 49%;
	background: #1d1d1d;
	border: 1px solid #fff;
	border-radius: 10px;
}
.requirements__item-info p:last-child {
	margin-bottom: 0;
}
.requirements__item-wrap {
	display: flex;
	gap: 28px;
}
.requirements__item-content {
	flex: 1;
}

.checklist {
	padding: 100px 0;
	color: #fff;
	background: #373736;
	position: relative;
	z-index: 1;
}
.checklist .title {
	margin-bottom: 55px;
}
.checklist__grid {
	gap: 24px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.checklist__item-icon {
	background: #1d1d1d;
}
.checklist__item p {
	margin-bottom: 0;
}
.checklist::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
	height: 937px;
	background-image: url(../img/bg2.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: -1;
	pointer-events: none;
}
.etaps__text-small {
	font-size: 14px;
	line-height: 150%;
}

.etaps {
	padding-top: 135px;
	padding-bottom: 100px;
}
.etaps__grid {
	padding-top: 60px;
	gap: 24px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}
.etaps__item-count {
	width: 50px;
	height: 50px;
	margin-bottom: 25px;
	font-size: 24px;
	line-height: 130%;
	text-align: center;
	font-weight: 700;
	border: 1.67px solid #1d1d1d;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.etaps__item-title {
	font-size: 18px;
	margin-bottom: 22px;
	line-height: 130%;
	font-weight: 700;
}
.etaps__item p {
	margin: 0;
}

.questions {
	padding-bottom: 100px;
}
.questions .title {
	margin-bottom: 40px;
}
.questions__grid {
	gap: 24px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.item-question {
	margin-bottom: 20px;
	border: 2px solid #373736;
	border-radius: 10px;
}
.item-question__head {
	font-size: 20px;
	padding: 22px 30px;
	line-height: 150%;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.item-question__head::after {
	position: relative;
	display: block;
	content: " ";
	width: 30px;
	height: 30px;
	background-image: url(../img/arrow_down.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: all 0.3s;
}
.item-question.active .item-question__head::after {
	transform: rotate(-180deg);
}
.item-question__content {
	padding: 30px;
	padding-top: 0;
	display: none;
}
.item-question__content p:last-child {
	margin-bottom: 0;
}
.questions__button {
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.structura_button .btn,
.questions__button .btn {
	box-shadow: none;
}

.footer {
	padding: 50px 0;
	background: #373736;
}
.footer__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}